<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Movie Website</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="profile-container">
        <h1 class="page-title">My Profile</h1>
        
        <div class="profile-content">
            <div class="profile-info">
                <div class="info-group">
                    <label>Name</label>
                    <p id="userName"><%= user.name %></p>
                </div>
                
                <div class="info-group">
                    <label>Email</label>
                    <p id="userEmail"><%= user.email %></p>
                </div>

                <div class="profile-actions">
                    <a href="/contact" class="profile-button">
                        <i class="fas fa-envelope"></i> Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% if (user != null && user.role == 'admin') { %>
    <a href="/admin/:<%= user.id %>" class="sticky-button">
      <i class="fa-solid fa-plus"></i>
    </a>
    <% } %>

    <%- include('../partials/footer') %>
    <script src="/js/script.js"></script>
</body>
</html>
